<h2>Edit <%= resource_name.to_s.humanize %></h2>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             html: { method: :put, class: 'form-horizontal' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<!--Изменение электронной почты-->
  <div class="form-group">
    <%= f.label :email, class: "col-sm-2 control-label" %><br/>
    <div class="col-sm-6">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", type: "text", class: "form-control" %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  <!--Изменение пароля-->
  <div class="form-group">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br/>
    <div class="col-sm-6">
      <%= f.password_field :password, autocomplete: "new-password", type: "text", class: "form-control" %>
      <% if @minimum_password_length %>
        <br/>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
  </div>
  <!--Подтверждение изменение пароля-->
  <div class="form-group">
    <%= f.label :password_confirmation %><br/>
    <div class="col-sm-6">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", type: "text", class: "form-control" %>
    </div>
  </div>
  <!--старый пароль-->
  <div class="form-group">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br/>
    <div class="col-sm-6">
      <%= f.password_field :current_password, autocomplete: "current-password", type: "text", class: "form-control" %>
    </div>
  </div>
  <!--Подтверждение изменений или возврат назад-->
  <div class="form-group">
    <div class="col-sm-6 col-sm-offset-2"><br />
      <%= f.submit "Change my password", class: "btn btn-primary" %>
      <%= link_to "Back", :back, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
<br/>
<h3>Cancel my account</h3>
<!--Удалить аккаунт-->
<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" },
                          method: :delete, class: "btn btn-danger" %></p>
