<h1><%= t('activerecord.attributes.event.with pin code only') %></h1>

<%= form_tag('', method: 'post') %>
  <div class="form-group">
    <%= label t('activerecord.attributes.event.pincode'), :pincode %>
    <div class="col-sm-6">
      <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-6"><br/>
      <%= submit_tag t('activerecord.attributes.event.input'), class: 'btn btn-primary' %>
    </div>
  </div>

<%= link_to t('back'), events_path %>
