<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title><%= content_for?(:title) ? yield(:title) : "Shashliki Group" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_pack_tag "application", :media => "all" %>
  <%= javascript_pack_tag "application" %>

</head>
<body>
<div class="navbar">
  <div class="container">
    <%# Для вывода названия приложения используем хелпер I18n.t %>
    <%= link_to t('app.name'), root_path, class: 'navbar-brand' %>

    <ul class="nav">
      <% if user_signed_in? %>
        <li><%= link_to 'Профиль', current_user, class: 'btn btn-link' %></li>
        <li><%= button_to 'Выйти', destroy_user_session_path, :method => :delete, class: 'btn btn-link' %></li>
      <% else %>
        <li><%= link_to 'Войти', new_user_session_path, class: 'btn btn-link' %></li>
        <li><%= link_to 'Зарегистрироваться', new_user_registration_path, class: 'btn btn-link' %></li>
      <% end %>

      <li><%= link_to 'Пользователи', users_path, class: 'btn btn-link' %></li>

    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <% if flash.any? %>
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= flash_class(name) %> alert-dismissible fade show" role="alert">
            <%= msg %>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-lg-9">
    <%= yield %>
  </div>
</div>
</body>
<div class="container">
  <footer>
    <%# Для вывода названия компании используем хелпер I18n.t %>
    <p>&copy; <%= t('app.company') %> 2022</p>
  </footer>
</div>
</html>
